<div class="container-fluid fill">
    <div class="span6">
      <h3>Accounts</h3>
      <p>
      	If you don't have an account, <%= link_to "create an account", signup_path %> for free.
      </p>
      <p class="to-do">
      	# We can put pictures/icons/graphics about A&M or something here: e.g.
      </p>
      <img src="http://giving.tamu.edu/images/publications/SpiritMag/wallpapers/University/Academic_Large_1600x1200.jpg">
    </div>
    <div class="span5 pagination-centered">
    	<div class="row-fluid">
    		<h2> Sign in: </h2>
			<%= form_for(:session, url: sessions_path) do |f| %>

			  <%= f.label :email %>
			  <%= f.email_field :email %>

			  <%= f.label :password %>
			  <%= f.password_field :password %>
			  </br>
			  <%= f.submit "Sign in" %>
			<% end %>
      <a href="/auth/facebook/" class="btn">Login With Facebook</a>
      <a href="/auth/twitter/" class="btn">Login With Twitter</a>
		</div>
	</div>
</div>
