<script type="text/javascript">
  $(document).ready(function() {
      $('#timeAndDatePicker').datetimepicker({
          timeFormat: "hh:mm tt",
          dateFormat: "yy-mm-dd",
          showOptions: { direction: "down"},
          beforeShow: function (input, inst) {
              var offset = $(input).offset();
              var height = $(input).height();
              window.setTimeout(function () {
                  inst.dpDiv.css({ top: (offset.top + height + 4) + 'px', left: offset.left + 'px' })
              }, 1);
          }
      });
      $('#timeAndDatePicker2').datetimepicker({
          timeFormat: "hh:mm tt",
          dateFormat: "yy-mm-dd",
          showOptions: { direction: "down"},
          beforeShow: function (input, inst) {
              var offset = $(input).offset();
              var height = $(input).height();
              window.setTimeout(function () {
                  inst.dpDiv.css({ top: (offset.top + height + 4) + 'px', left: offset.left + 'px' })
              }, 1);
          }
      });
  })
</script>

<%= form_for(@poster) do |f| %>
  <% if @poster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poster.errors.count, "error") %> prohibited this poster from being saved:</h2>

      <ul>
      <% @poster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row-fluid">
    <div class="span4">
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title , :class => "span12"%>
      </div>
      <br />
      <div class="field">
        <%= f.label :file %>
        <%= f.file_field :file %>
      </div>
      <br />
      <div class="field">
        <%= f.label :tag %>
        <%= f.select :tag, ['', 'Agriculture', 'Business', 'Bush School', 'College of Science', 'Education', 'Engineering',
                            'Geoscience', 'Graduate College', 'Health Science Center', 'Liberal Arts', 'Arts and Culture',
                            'Campus Service', 'Community/Volunteer Service', 'Cultural/International', 'Enthusiasts',
                            'Global Service', 'Greek Life', 'Healthy Living', 'Honor', 'Military', 'Professional/Career',
                            'Recreation', 'Religious', 'Residence Halls', 'Social and Political Issues', 'Special Interests',
                            'Spirit and Tradition', 'Sports Clubs', 'Student Government'] , :width => "100%"%>
      </div>
    </div>
    <div class="span4">
      <div class="field">
        <%= f.label :location %>
        <%= f.text_area :location , :rows => "2", :class => "span12"%>
      </div>
      <br />
      <div class="field">
        <%= f.label :event_start_date %>
        <%= f.text_field :event_start_date, :id=>'timeAndDatePicker', :class => "span12", :style => "z-index: 1000;" %>
      </div>
      <br />
      <div class="field">
        <%= f.label :event_end_date %>
        <%= f.text_field :event_end_date, :id=>'timeAndDatePicker2', :class => "span12", :style => "z-index: 1000;" %>
      </div>
    </div>
    <div class="span4">
      <div class="field">
        <%= f.label :description %>
        <%= f.text_area :description, :cols => "100", :rows => "10", :class => "span12" %>
      </div>
    </div>
  </div>
    <br />
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
