<script type="text/javascript">
  $(document).ready(function() {
      $('#timeAndDatePicker').datetimepicker({
          timeFormat: "hh:mm tt",
          dateFormat: "yy-mm-dd"
      });
      $('#timeAndDatePicker2').datetimepicker({
          timeFormat: "hh:mm tt",
          dateFormat: "yy-mm-dd"
      });
  })
</script>

<%= form_for(@poster) do |f| %>
  <% if @poster.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@poster.errors.count, "error") %> prohibited this poster from being saved:</h2>

      <ul>
      <% @poster.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :file %><br />
    <%= f.file_field :file %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_area :location %>
  </div>
  <div class="field">
    <%= f.label :tag %><br />
    <%= f.select :tag, ['', 'Agriculture', 'Business', 'Bush School', 'College of Science', 'Education', 'Engineering',
                        'Geoscience', 'Graduate College', 'Health Science Center', 'Liberal Arts', 'Arts and Culture',
                        'Campus Service', 'Community/Volunteer Service', 'Cultural/International', 'Enthusiasts',
                        'Global Service', 'Greek Life', 'Healthy Living', 'Honor', 'Military', 'Professional/Career',
                        'Recreation', 'Religious', 'Residence Halls', 'Social and Political Issues', 'Special Interests',
                        'Spirit and Tradition', 'Sports Clubs', 'Student Government'] %>
  </div>
  <div class="field">
    <%= f.label :event_start_date %><br />
    <%= f.text_field :event_start_date, :id=>'timeAndDatePicker' %>
  </div>
  <div class="field">
    <%= f.label :event_end_date %><br />
    <%= f.text_field :event_end_date, :id=>'timeAndDatePicker2' %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
