
<%= form_tag('/posters/gridlist', :method => 'get') do %>
    <%= label_tag(:q, 'Search titles for:') %>
    <%= text_field_tag :titleSearch, params[:titleSearch] %>
    <%= label_tag(:q, 'Search organizations for:') %>
    <%= text_field_tag :orgSearch, params[:orgSearch] %>
    <%= submit_tag('Search') %>
<% end %>

<div id="container">
  <% @posters.each do |poster| %>
      <div class="item"><a href=<%= poster.id %> ><%= image_tag poster.file , :alt => poster.title , :size => "200x300" %></a></div>
  <% end %>
</div>

<script type="text/javascript">
    $('#container').isotope({
        // options
        itemSelector : '.item',
        layoutMode : 'masonry'
    });
</script>