
<script type="text/javascript">
    function relayout() {
        var timer = setTimeout(function(){
            $('#tab2').isotope('reLayout');
        },200);
    }
    $(document).ready(function() {
        $('#tab2').isotope({
            // options
            itemSelector : '.item',
            layoutMode : 'masonry'
        });
        $(window).smartresize();
        $('.item').popover();
        var timer = setTimeout(function(){
            $('#tab2').isotope('reLayout');
        },200);
        if('<%= params[:tagSearch] %>' != '') {
            document.getElementById('<%= params[:tagSearch] %>').selected = "selected";
        }
    });
    $(function() {
        $('a[data-toggle="tab"]').on('shown', function(e){
            //save the latest tab using a cookie:
            $.cookie('last_tab', $(e.target).attr('href'));
        });

        //activate latest tab, if it exists:
        var lastTab = $.cookie('last_tab');
        if (lastTab) {
            $('ul.nav-tabs').children().removeClass('active');
            $('a[href='+ lastTab +']').parents('li:first').addClass('active');
            $('div.tab-content').children().removeClass('active');
            $(lastTab).addClass('active');
        }
    });
    $(function() {
        var availableTitles = [
            <% @posters.each do |poster| %>
                "<%= poster.title %>",
            <% end %>
        ];
        var availableOrganizations = [
            <% @organizations.each do |organization| %>
                "<%= organization.name %>",
            <% end %>
        ];
        $( "#titles" ).autocomplete({
            source: availableTitles
        });
        $( "#organizations" ).autocomplete({
            source: availableOrganizations
        });
    });
    $(function() {
        $( "#datepicker" ).datepicker({
            dateFormat: "yy-mm-dd"
        });
    });
</script>

<style>
    .popover {
        color: black;
    }
    h3 {
        color:  black;
    }
</style>

<div class="ui-widget">
    <%= form_tag('/posters/mainlist', :method => 'get') do %>
        <%= label_tag(:q, 'Filter titles for:') %>
        <%= text_field_tag :titleSearch, params[:titleSearch], :id => "titles" %>
        <%= label_tag(:q, 'Filter organizations for:') %>
        <%= text_field_tag :orgSearch, params[:orgSearch], :id => "organizations" %>
        <%= label_tag(:q, 'Filter for date (YYYY-MM-DD):') %>
        <%= text_field_tag :dateSearch, params[:dateSearch], :id => "datepicker" %>
        <%= label_tag(:q, 'Filter for tags:') %>
        <%= select_tag :tagSearch, "<option></option>
                                    <option id='Agriculture'>Agriculture</option>
                                    <option id='Business'>Business</option>
                                    <option id='Bush School'>Bush School</option>
                                    <option id='College of Science'>College of Science</option>
                                    <option id='Education'>Education</option>
                                    <option id='Engineering'>Engineering</option>
                                    <option id='Geoscience'>Geoscience</option>
                                    <option id='Graduate College'>Graduate College</option>
                                    <option id='Health Science Center'>Health Science Center</option>
                                    <option id='Liberal Arts'>Liberal Arts</option>
                                    <option id='Arts and Culture'>Arts and Culture</option>
                                    <option id='Campus Service'>Campus Service</option>
                                    <option id='Community/Volunteer Service'>Community/Volunteer Service</option>
                                    <option id='Cultural/International'>Cultural/International</option>
                                    <option id='Enthusiasts'>Global Service</option>
                                    <option id='Global Service'>Global Service</option>
                                    <option id='Greek Life'>Greek Life</option>
                                    <option id='Healthy Living'>Healthy Living</option>
                                    <option id='Honor'>Honor</option>
                                    <option id='Military'>Military</option>
                                    <option id='Professional/Career'>Professional/Career</option>
                                    <option id='Recreation'>Recreation</option>
                                    <option id='Religious'>Religious</option>
                                    <option id='Residence Halls'>Residence Halls</option>
                                    <option id='Social and Political Issues'>Social and Political Issues</option>
                                    <option id='Special Interests'>Special Interests</option>
                                    <option id='Spirit and Tradition'>Spirit and Tradition</option>
                                    <option id='Sports Clubs'>Sports Clubs</option>
                                    <option id='Student Government'>Student Government</option>".html_safe %>
        <%= submit_tag('Search') %>
    <% end %>
</div>
<div class="container-fluid">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li id="tab2tab" class="active" onclick="relayout()"><a href="#tab2" data-toggle="tab">Grid View</a></li>
      <li id="tab1tab" ><a href="#tab1" data-toggle="tab">List View</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane" id="tab1">
        <% @posters.each do |poster| %>
            <div class="row-fluid">
              <div class="span4"><%= image_tag poster.file , :alt => poster.title, :size => "200x300" %></div>
              <div class="span8"><%= poster.title%><br /><%= poster.description%></div>
            </div>
        <% end %>
      </div>
      <div class="tab-pane" id="tab2">
        <% @posters.each do |poster| %>
            <div class="item" data-trigger="hover" data-title="<%= poster.title %>" data-content="<%= poster.description %>"><a href=<%= poster.id %> ><%= image_tag poster.file , :alt => poster.title , :size => "200x300" %></a></div>
        <% end %>
      </div>
  </div>
</div>

