<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "83c3ce0f-f04d-4a49-a7b5-061ef8997ec5", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>

<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @poster.title %>
  <br />
  <b>Organization:</b>
  <%= link_to organization_url(@poster.organization), @poster.organization.name %>
  <b>Description:</b>
  <%= @poster.description %>
  <br />
  <b>Tag:</b>
  <a href="mainlist?tagSearch=<%= @poster.tag %>"><%= @poster.tag %></a>
  <br />
  <b>Location:</b>
  <a href="http://maps.google.com/?q=<%= @poster.location%>"><%= @poster.location %></a>
  <br />
  <b>Time and Date:</b>
  <%= @poster.event_start_date.strftime('%I:%M %p %A, %B, %-d, %Y') %> - <%= @poster.event_end_date.strftime('%I:%M %p %A, %B, %-d, %Y') %>
  <br />
</p>

<p>
	<%= image_tag @poster.file %>
</p>

<% if is_organization? %>
	<%= link_to 'Edit', edit_poster_path(@poster) %> |
	<%= link_to 'Back', posters_path %>
<% end %>

<a href="http://www.google.com/calendar/event?action=TEMPLATE&text=<%= @poster.title %>&dates=<%= @poster.event_start_date.to_default_s.sub('-', '').sub('-', '').sub(' ','T').sub(':', '').sub(':', '')[0..-5] %>/<%= @poster.event_end_date.to_default_s.sub('-', '').sub('-', '').sub(' ','T').sub(':', '').sub(':', '')[0..-5] %>&details=<%= @poster.description %>&location=<%= @poster.location %>&trp=false&sprop=TAMU%20Bulletin&sprop=name:http%3A%2F%2Fbulletin.tamu.edu" target="_blank"><img src="//www.google.com/calendar/images/ext/gc_button2.gif" border=0></a>
<br /><br />

<span class='st_facebook_large' displayText='Facebook'></span>
<span class='st_googleplus_large' displayText='Google +'></span>
<span class='st_twitter_large' displayText='Tweet'></span>
<span class='st_pinterest_large' displayText='Pinterest'></span>

<br />
<%= link_to 'Edit', edit_poster_path(@poster) %> |
<%= link_to 'Back', posters_path %>

<hr />

<h2>Comments</h2>
<%= render :partial => 'comment', :collection => @poster.comments %>

<% if signed_in? %>
	<%= render "posters/comment_form" %>
<% end %>
