<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @poster.title %>
</p>

<p>
	<%= image_tag @poster.file %>
</p>

<%= link_to 'Edit', edit_poster_path(@poster) %> |
<%= link_to 'Back', posters_path %>
