<div class="container-fluid fill">
  <% if flash[:error] %>
    <div class="offset6 span5 update-error"><%= flash[:error] %></div>
  <% end %>
    <div class="span6">
      <h3>Edit Your TAMU Bulletin Account</h3>
      <img src="http://giving.tamu.edu/images/publications/SpiritMag/wallpapers/University/Academic_Large_1600x1200.jpg">
    </div>
    <div class="span5 pagination-centered">
      <div class="row-fluid">
        <%= form_for(@user) do |f| %>
          <%= f.label :name, "Edit your Username" %>
          <%= f.text_field :name %>

          <%= f.label :email %>
          <%= f.email_field :email %>

          <%= f.label :password %>
          <%= f.password_field :password %>

          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation %>

          <%= f.label :picture, "Profile Picture" %>
          <%= f.file_field :picture %>
          </br>
          <%= f.submit "Save" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
