<div class="container-fluid fill">
  <div class="span6">
    <h3>Edit Your TAMU Bulletin Account</h3>

    <img src="http://giving.tamu.edu/images/publications/SpiritMag/wallpapers/University/Academic_Large_1600x1200.jpg">
  </div>
  <div class="span5 pagination-centered">
    <div class="row-fluid">
      <%= form_for(@organization) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :description %>
        <%= f.text_area :description %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>
        </br>
        <%= f.submit "Save" %>
      <% end %>

      <% unless @organization.verified %>
        <%= button_to "Verify", { action: "verify", id: @organization.to_param }, method: :put %>
      <% end %>
    </div>
  </div>
</div>
