<div class="container-fluid fill">
  <div class="span6">
    <h3>Create a new TAMU Bulletin Organization</h3>
    <p class="to-do">
        # We can put pictures/icons/graphics about A&M or something here: e.g.
      </p>
      <img src="http://giving.tamu.edu/images/publications/SpiritMag/wallpapers/University/Academic_Large_1600x1200.jpg">
  </div>
  <div class="span5 pagination-centered">
    <div class="row-fluid">
      <%= form_for(@organization) do |f| %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :description %>
        <%= f.text_area :description %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Request account" %>
      <% end %>
    </div>
  </div>
</div>
