<script type="text/javascript">
    function relayout() {
        var timer = setTimeout(function(){
            $('#grid').isotope('reLayout');
        },500);
    }
    $(document).ready(function() {
        $('#grid').isotope({
            // options
            itemSelector : '.item',
            layoutMode : 'masonry'
        });
        $(window).smartresize();
        $('.item').popover();
        setTimeout(function(){
            $('#grid').isotope('reLayout');
        }, 300);
    });
</script>

<style>
    .popover {
        color: black;
    }
    h3 {
        color:  black;
    }
</style>

<% if flash[:success] %>
    <div class="update-success"><%= flash[:success] %></p>
<% end %>
<% if flash[:error] %>
    <p ><%= flash[:error] %></p>
<% end %>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h1 style="text-align:left; padding-left: 20px;"><%= @organization.name %></h1>
    </div>
    <div class="span12">
      <b><%= @organization.email%></b>
    </div>
    <div class="span12">
      <%= @organization.description%>
    </div>
  </div>
  <br>
  <br>
  <div class="row-fluid" id="grid">
    <% for poster in @organization.posters %>
        <div class="item" data-trigger="hover" data-title="<b><%= poster.title %></b>" data-content="<% if not poster.event_start_date.nil? and not poster.event_end_date.nil? %><b>Start: </b><%= poster.event_start_date.strftime('%I:%M %p %A, %B, %-d, %Y') %><br /><b>End: </b><%= poster.event_end_date.strftime('%I:%M %p %A, %B, %-d, %Y') %><br /><% end %><b>Location: </b><%= poster.location%><br /><b>Organization: </b><%= poster.organization.name%><br /><b>Tag: </b><%= poster.tag%><br /><%= poster.description%>"><a href=<%= poster.id %> ><%= image_tag poster.file , :alt => poster.title , :size => "200x300" %></a></div>
    <% end %>
  </div>
</div>
<div class="subscribe-button">
  <% if is_user? %>
    <% if is_subscribed?(@organization) %>
      <%= button_to "Unsubscribe", { action: "unsubscribe", id: @organization.id }, class: "btn btn-primary" %>
    <% else %>
      <%= button_to "Subscribe", { action: 'subscribe', id: @organization.id }, class: "btn btn-primary" %>
    <% end %>
  <% end %>
</div>
